<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fa_simranjitsingh_c0809865_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FA_simranjitSingh_C0809865_android">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-nA_5kZkEl_6kb7FeT8jgAPhPAvP0Utw" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps"/>

        <activity
            android:name=".EditActiivty"
            android:exported="false"
            />
        <activity
            android:name=".ShowPlaces"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>